h1,
p,
h2 {
    text-align: center;
}

h1 {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #00F;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(to top, pink, #F0FFFF);
}

input:hover,
select:hover {
    background-color: #D8BFD8;
}

input:focus,
select:focus {
    background-color: #E0FFFF;
}

.menu {
    list-style: none;
    padding: 0%;
    background-color: #E0FFFF;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
}
.menu li {
    display: inline-block;
    text-align: center;
}
.menu li a:hover {
    background-color: #CD5C5C;
}
@media (min-width:0px) and (max-width:500px) {
    body {
        background-image: url(Imagenes/pokemon-pokeballs.gif);
    }

    .posi {
        position: relative;
        width: 200px;
        height: 100px;
    }
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
    }
}